
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>


<button type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#myModal">
    Launch demo modal
</button>

<a data-toggle="modal" data-target="#myModal">test link</a>

<div id="results"></div>

@using (Ajax.BeginForm("PartialTestView", new AjaxOptions { UpdateTargetId = "results" }))
{
    <input type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#myModal" value="Show" />
}


<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">Modal title</h4>
            </div>

            @using (Ajax.BeginForm("PartialTestView", new AjaxOptions { OnSuccess = "OnSuccess" }))
            {
                <div class="modal-body">

                    <input type="text" class="form-control center-block" placeholder="Введите код объекта" name="ObjectId" />
                    <p>*оставьте поле пустым для получения полного отчета</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>

                    <input type="submit" class="btn btn-primary" value="Download" />
                </div>
            }
        </div>
    </div>
</div>